<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}<title>Welcome!</title>{% endblock %}
        <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% block stylesheets %}{% endblock %}

        
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %} {% endblock %}
    </body>
</html>
